.start-game-container {
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0) 10%, rgb(0, 0, 0) 100%);
}

.start-game-container > p {
  font-size: 1.4rem;
  padding: 9rem 1rem;
}

.direction-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: center;
}

@media all and (min-width: 668px) {
  .start-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .start-game-container > p {
    font-size: 1.5rem;
    padding: 9rem 3rem;
  }
}
